<% layout('layouts/boilerplate') -%>
<script>
    function printDiv(divName) {
    const printContents = document.getElementById(divName).innerHTML;
    const originalContents = document.body.innerHTML;

    document.body.innerHTML = `
        <html>
            <head>
                <title>Print</title>
                <link rel="stylesheet" href="/path/to/bootstrap.css">
            </head>
            <body>${printContents}</body>
        </html>
    `;

    window.print();
    document.body.innerHTML = originalContents;
}
</script>

<section class="pb-4 flex-grow-1">
  <div class="border rounded-3 homepage">
    <section class="px-4 py-3 w-100">
      <style>
        .card-registration
          .select-input.form-control[readonly]:not([disabled]) {
          font-size: 1rem;
          line-height: 2.15;
          padding-left: 0.75em;
          padding-right: 0.75em;
        }
        .card-registration .select-arrow {
          top: 13px;
        }
      </style>
      <div class="row">
        <div class="col-12" id="printableArea">
            <div
            class="card card-registration card-registration-2"
            style="border-radius: 20px"
          >
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-9">
                  <div class="p-5">
                    
                    <% for (let product of products) { %>
                        <% if (product.quantity > 0){%>
                    <div class="row d-flex justify-content-between align-items-center">
                      <div class="col-md-7 col-lg-7 col-xl-7">
                        <p class="text-uppercase"><%=product.name%></p>
                      </div>
                      <div class="col-md-2 col-lg-1 col-xl-1">
                        <p><strong><%=product.quantity%></strong>pcs</p>
                      </div>
                      <div class="col-md-1 col-lg-1 col-xl-1">
                        <p><%= product.price %>€</p>
                      </div>
                    </div>
                        <% } %>
                    <% } %>
                    <hr/>
                    <div class="pt-5">
                        <input class="btn btn-primary printButtons" type="button" onclick="printDiv('printableArea')" value="Print List" />
                        <a href="/shoppinglist/showlist" class="btn btn-danger printButtons">
                          Back to Shopping List
                        </a>
                        <a href="/shoppinglist" class="btn btn-info printButtons">
                          Back to Home Page
                        </a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-2 bg-body-tertiary">
                  <div class="p-5">
                    <div class="mb-3">
                      <p class="text-uppercase font-weight-bold">ALL ITEMS:</p>
                      <p><%= totalPrice %> €</p>
                    </div>
                    <div class="mb-3">
                        <p class="text-uppercase text-start font-weight-bold">Additional expenses:</p>
                        <% for (let add of additionalItems) { %>
                        <p><%= add.name %></p>
                        <p><%= add.price %> €</p>
                        <% } %>
                    </div>
                    <div class="text-start">
                      <p class="text-uppercase font-weight-bold">Total:</p>
                      <p><%= overallPrice %> €</p>
                    </div>
                    <div>
                      <p class="text-uppercase text-start font-weight-bold">Notes:</p>
                      <div class="mb-1">
                        <p><%=notes?.name || ""%></p>
                      </div>
                    </div>
                    
                    <div>
                      <p class="text-uppercase text-start font-weight-bold">My Budget:</p>
                      <p><%=budget.money || ""%> €</p>
                      </div>
                    <div>
                      <p class="text-uppercase text-start mb-3">Money Left:</p>
                      <div class="mb-3">
                        <p class="text-start"><%=moneyLeft || ""%> €</p>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
  </div>
</section>
