<% layout('layouts/boilerplate') -%>

<section class="pb-4 flex-grow-1">
  <div class="homepage">
    <section class="px-4 py-3 w-100">
      <style>
        .card-registration
          .select-input.form-control[readonly]:not([disabled]) {
          font-size: 1rem;
          line-height: 2.15;
          padding-left: 0.75em;
          padding-right: 0.75em;
        }
        .card-registration .select-arrow {
          top: 13px;
        }
      </style>
      <div class="row">
        <div class="col-12">
          <div
            class="card card-registration card-registration-2"
            style="border-radius: 20px"
          >
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-8">
                  <div class="p-5">
                    <div
                      class="d-flex justify-content-between align-items-center mb-5"
                    >
                      <h1 class="fw-bold mb-0">Shopping List</h1>
                      <h6 class="mb-0 text-muted"><%=allItems%> items</h6>
                    </div>
                    <hr class="my-3" />
                    <form action="/shoppinglist/showlist/update" method="POST">
                    <% for (let product of products) { %>
                    <div
                      class="row mb-2 d-flex justify-content-between align-items-center lh-1"
                    >
                      <div class="col-md-5 col-lg-5 col-xl-5">
                        <p class="mb-0"><%=product.name%></p>
                      </div>
                      <div class="col-md-2 col-lg-2 col-xl-2 d-flex">
                        <button
                          data-mdb-button-init=""
                          data-mdb-ripple-init=""
                          class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                          data-mdb-button-initialized="true"
                        >
                          <i class="fas fa-minus"></i>
                        </button>
                        <input
                          id="<%= product._id %>"
                          min="0"
                          name="<%= product._id %>"
                          value="<%=product.quantity%>"
                          type="number"
                          class="form-control form-control-sm"
                        />

                        <button
                          data-mdb-button-init=""
                          data-mdb-ripple-init=""
                          class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                          data-mdb-button-initialized="true"
                        >
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                      <div class="col-md-2 col-lg-2 col-xl-2">
                        <p class="mb-0"><%= product.price %> €</p>
                      </div>
                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <% if (product.price>product.oldPrice && product.oldPrice!=0 ){%>
                          <img src="/images/red-arrow-up.png" height="25" width="25">
                        <% } %>
                        <% if (product.price<product.oldPrice && product.oldPrice!=0){%>
                          <img src="/images/green-arrow-down.png" height="25" width="25">
                        <%} %>
                      </div>
                      <div class="col-md-1 col-lg-1 col-xl-1 offset-lg-1">
                        <button type="button" class="delete-button" onclick="deleteItem('<%= product._id %>')">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                          <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                          </svg>
                        </button>
                      </div>
                    </div>

                    <hr class="my-4" />
                    <% } %>
                    <div class="pt-5">
                        <button type="submit" class="btn btn-primary">
                          Check Prices&Save List</button>
                        <a href="/shoppinglist/additems" class="btn btn-danger">
                          Add Items
                        </a>
                        <a href="/shoppinglist" class="btn btn-info">
                          Back to Home Page
                        </a>
                        </form>
                          
                      </h6>
                      
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 bg-body-tertiary">
                  <div class="p-5">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                    <hr class="my-4" />

                    <div class="d-flex justify-content-between mb-4">
                      <h5 class="text-uppercase">ALL ITEMS</h5>
                      <h5><%= totalPrice %> €</h5>
                    </div>

                    <h5 class="text-uppercase mb-3">Additional expenses</h5>
                    <form class="text-end form-group" action="/shoppinglist/additional" method="POST">
                    <div class="mb-5">
                      <div
                        data-mdb-input-init=""
                        class="form-group"
                        data-mdb-input-initialized="true"
                      >
                        <input
                          type="text"
                          id="additionalItemName"
                          class="form-control form-control-lg"
                          name="additionalItemName"
                        />
                        <label
                          class="form-label text-muted text-center"
                          for="additionalItemName"
                          style="margin-left: 0px"
                          >Item</label
                        >
                        <input
                          type="text"
                          id="additionalItemPrice"
                          name="additionalItemPrice"
                          class="form-control form-control-lg"
                        />
                        <label
                          class="form-label text-muted"
                          for="additionalItemPrice"
                          style="margin-left: 0px"
                          >Price</label
                        >
                        </div>
                        <button type="submit" class="btn btn-primary mx-auto d-block">Add Item</button>
                    </form>
                        
                      
                    </div>
                    <hr>
                    <ul class="list-group">
                    <% for (let add of additionalItems) { %>
                    <div class="text-end">
                      
                      <li class="list-group-item"><%= add.name %>: <%= add.price %> €
                        <form class="form-group" action="/shoppinglist/additional/delete/<%= add._id %>?_method=DELETE" method="POST">
                          <button type="submit" class="btn btn-warning btn-sm">Delete</button>
                        </form>
                        
                      </li>
                      </form>
                    </div>
                    <% } %>
                    </ul>
                    <hr/>
                    <div class="d-flex flex-column text-center">
                      <h5 class="text-uppercase">Total with additional items:</h5>
                      <h6><%= overallPrice %> €</h6>
                    </div>
                    <hr/>
                    <div>
                      <h5 class="text-center">Notes:</h5>
                      <div class="mb-3">
                        <form action="/shoppinglist/notes/update" method="POST">
    
                        <textarea class="form-control mb-3 text-start" id="notes" name="notes" rows="2"><%=notes?.name || ""%></textarea>
                        <button type="submit" class="btn btn-primary mx-auto d-block">Save Notes</button>
                        </form>
                      </div>
                    </div>
                    <hr/>
                    <div>
                      <h5 class="text-center">My Budget:</h5>
                      
                        <div class="col-6 offset-3 budgetForm">
                        <form action="/shoppinglist/budget/update" method="POST">
                        <div class="mb-3 input-group">
                          <input type="number" class="form-control mb-3 text-end" min="0" max="1000" step="0.01" id="budget" name="budget" value='<%=budget.money || ""%>'>
                        <div class="input-group-append">
                          <span class="input-group-text">€</span>
                        </div>
                        <button type="submit" class="btn btn-primary mx-auto d-block">Update Budget</button>
                        </form>
                        </div>
                      </div>
                    <hr/>
                    <div>
                      <h5 class="text-center mb-3">Money Left:</h5>
                      <div class="mb-3">
                        <h6 class="text-center"><%=moneyLeft || ""%> €</h6>
                      </div>
                    </div>
                    <a href="/shoppinglist/print" class="btn btn-dark btn-block btn-lg mx-auto d-block">Print</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
<form id="deleteForm" action="/shoppinglist/deleteItem" method="POST" style="display:none;">
  <input type="hidden" name="id" id="deleteId">
</form>
<script>
  function deleteItem(id) {
    document.getElementById('deleteId').value = id;
    document.getElementById('deleteForm').submit();
  }
</script>

