<% layout('layouts/boilerplate') -%>

<section class="pb-4 flex-grow-1">
  <div class="border rounded-3 homepage">
    <section class="px-4 py-3 w-100">
      <style>
        .card-registration
          .select-input.form-control[readonly]:not([disabled]) {
          font-size: 1rem;
          line-height: 2.15;
          padding-left: 0.75em;
          padding-right: 0.75em;
        }
        .card-registration .select-arrow {
          top: 13px;
        }
      </style>
      <div class="row">
        <div class="col-12">
          <div
            class="card card-registration card-registration-2"
            style="border-radius: 20px"
          >
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-8">
                  <div class="p-5">
                    <div
                      class="d-flex justify-content-between align-items-center mb-5"
                    >
                      <h1 class="fw-bold mb-0">Shopping List</h1>
                      <h6 class="mb-0 text-muted"><%=allItems%> items</h6>
                    </div>
                    <hr class="my-4" />
                    <form action="/shoppinglist/showlist/update" method="POST">
                    <% for (let product of products) { %>
                    <div
                      class="row mb-2 d-flex justify-content-between align-items-center"
                    >
                      <div class="col-md-5 col-lg-5 col-xl-5">
                        <p class="mb-0"><%=product.name%></p>
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3 d-flex">
                        <button
                          data-mdb-button-init=""
                          data-mdb-ripple-init=""
                          class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                          data-mdb-button-initialized="true"
                        >
                          <i class="fas fa-minus"></i>
                        </button>
                        <input
                          id="<%= product._id %>"
                          min="0"
                          name="<%= product._id %>"
                          value="<%=product.quantity%>"
                          type="number"
                          class="form-control form-control-sm"
                        />

                        <button
                          data-mdb-button-init=""
                          data-mdb-ripple-init=""
                          class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                          data-mdb-button-initialized="true"
                        >
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <p class="mb-0"><%= product.price %> €</p>
                      </div>
                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <a href="#!" class="text-muted"
                          ><i class="fas fa-times"></i
                        ></a>
                      </div>
                    </div>

                    <hr class="my-4" />
                    <% } %>
                    <div class="pt-5">
                      <h6 class="mb-0">
                        <a href="/shoppinglist" class="btn btn-primary">
                          Back to Home Page
                        </a>
                        <button type="submit" class="btn btn-warning">
                          Update Total Price</button>
                        </form>
                          </h6>
                      </h6>
                      
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 bg-body-tertiary">
                  <div class="p-5">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                    <hr class="my-4" />

                    <div class="d-flex justify-content-between mb-4">
                      <h5 class="text-uppercase">ALL ITEMS</h5>
                      <h5><%= totalPrice %> €</h5>
                    </div>

                    <h5 class="text-uppercase mb-3">Additional expenses</h5>
                    <form class="text-end" action="/shoppinglist/additional" method="POST">
                    <div class="mb-5">
                      <div
                        data-mdb-input-init=""
                        class="form-group"
                        data-mdb-input-initialized="true"
                      >
                        <input
                          type="text"
                          id="additionalItemName"
                          class="form-control form-control-lg"
                        />
                        <label
                          class="form-label text-muted text-center"
                          for="additionalItemName"
                          style="margin-left: 0px"
                          >Item</label
                        >
                        <input
                          type="text"
                          id="additionalItemPrice"
                          class="form-control form-control-lg"
                        />
                        <label
                          class="form-label text-muted"
                          for="additionalItemPrice"
                          style="margin-left: 0px"
                          >Price</label
                        >
                        </div>
                        <button type="submit" class="btn btn-primary mx-auto d-block">Add Item</button>
                    </form>
                        
                      
                    </div>
                    <hr>
                    <ul class="list-group">
                    <% for (let add of additionalItems) { %>
                    <div class="text-end">
                    
                      <li class="list-group-item"><%= add.name %>: <%= add.price %> €</li>
                      
                    </div>
                    <% } %>
                    </ul>
                    <hr/>
                    <div class="d-flex flex-column mb-5 text-center">
                      <h5 class="text-uppercase">Total with additional items:</h5>
                      <h6><%= overallPrice %> €</h6>
                    </div>
                  
                    <button
                      type="button"
                      data-mdb-button-init=""
                      data-mdb-ripple-init=""
                      class="btn btn-dark btn-block btn-lg mx-auto d-block"
                      data-mdb-ripple-color="dark"
                      data-mdb-button-initialized="true"
                    >
                      Print
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
